mat-list-item {
  text-align: center;
}

.user-moments {
  position: relative;
}

.user-moments__add {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.user-moments__content p {
  font-size: 0.9em;
}


