mat-form-field {
  margin-top: 0.5rem;
  width: 100%;
}

mat-checkbox {
  width: 100%;
}

button {
  margin-left: 1rem;

}

.mat-dialog-content {
  min-height: 18rem;
}

.mat-dialog-content div {
  margin-bottom: 1rem;

}
