<h1 mat-dialog-title>Maak een moment aan</h1>
<div mat-dialog-content>
  <div>
    <mat-form-field>
      <input [(ngModel)]="date" matInput [matDatepicker]="datePicker" placeholder="Kies een dag">
      <mat-datepicker-toggle matSuffix [for]="datePicker"></mat-datepicker-toggle>
      <mat-datepicker #datePicker></mat-datepicker>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input [(ngModel)]="time" matInput [ngxTimepicker]="timePicker" [format]="24" placeholder="Kies het uur">
      <ngx-material-timepicker #timePicker></ngx-material-timepicker>
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Annuleer</button>
  <button cdkFocusRegionstart
          color="accent"
          [disabled]="!momentValid"
          mat-flat-button
          (click)="save()">Opslaan
  </button>
</div>
